@startuml
!define table(name) entity name << (T,#5DBCD2) >>
!define view(name) entity name << (V,#C6EDDB) >>
hide methods
hide stereotypes

skinparam class {
  BackgroundColor White
  BorderColor #6E6E6E
  ArrowColor #6E6E6E
}

' tables
{{- range $i, $t := .Schema.Tables }}
{{- if ne $t.Type "VIEW" }}
table("{{ $t.Name }}") {
{{- else }}
view("{{ $t.Name }}") {
{{- end }}
{{- range $ii, $c := $t.Columns }}
  <b>{{ $c.Name | html }}</b> [{{ $c.Type | html }}]
{{- end }}
}
{{- end }}

' relations
{{- range $j, $r := .Schema.Relations }}
"{{ $r.Table.Name }}" }-- "{{ $r.ParentTable.Name }}" : "{{ $r.Def | html }}"
{{- end }}

@enduml
