version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    groups:
      dependencies:
        patterns:
          - "*"
    schedule:
      interval: "monthly"
      time: "08:00"
      timezone: "Asia/Tokyo"
    commit-message:
      prefix: "chore"
      include: "scope"
    open-pull-requests-limit: 10
    assignees:
      - "k1LoW"

  - package-ecosystem: "gomod"
    directory: "/"
    groups:
      dependencies:
        patterns:
          - "*"
    schedule:
      interval: "monthly"
      time: "08:00"
      timezone: "Asia/Tokyo"
    commit-message:
      prefix: "chore"
      include: "scope"
    ignore:
      - dependency-name: "github.com/googleapis/go-sql-spanner"
        versions: ["1.13.*"]
      - dependency-name: "github.com/olekukonko/tablewriter"
        versions: ["1.*.*"]
      - dependency-name: "github.com/snowflakedb/gosnowflake"
        versions: ["*.*.*"]
    open-pull-requests-limit: 10
    assignees:
      - "k1LoW"
